.footer {
    overflow: hidden;
    background-color: #000;
    padding: 20px 10px;
    color: white;
    position: sticky;
    top: 100%;
}
h1 {
    font-weight: bold;
    font-size: 20px;
}
p {
    font-size: 14px;
}
a {
    color: white;
    text-decoration: none;
    padding: 0 5px;
    font-size: 17px;
}
a:hover {
    color: var(--primary-color);
}
i {
    padding: 0 10px;
}