<div class="container mt-5 mb-5">
    <img src="" width="100%">

    <h1 class="text-center">About</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, mollitia. Eveniet nulla rem quo suscipit, ut et aspernatur? Maxime ratione dolorem a labore veniam consequuntur quia dolore, dicta reprehenderit totam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, mollitia. Eveniet nulla rem quo suscipit, ut et aspernatur? Maxime ratione dolorem a labore veniam consequuntur quia dolore, dicta reprehenderit totam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, mollitia. Eveniet nulla rem quo suscipit, ut et aspernatur? Maxime ratione dolorem a labore veniam consequuntur quia dolore, dicta reprehenderit totam!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, mollitia. Eveniet nulla rem quo suscipit, ut et aspernatur? Maxime ratione dolorem a labore veniam consequuntur quia dolore, dicta reprehenderit totam!
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
        <br />
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus culpa quis neque! Quod eos corrupti impedit aliquid suscipit, vero, fuga excepturi itaque, placeat nulla autem sed omnis voluptas quisquam odit.
    </p>
</div>