<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="menuData">
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3">Back</a>
            <app-foodbox [foodData]="menuData[0]"></app-foodbox>
        </div>

        <div class="col-lg-6">
            <h1>Enter Your Details</h1>
            <form>
                <input type="text" class="form-control mb-2" placeholder="Enter your full name">
                <input type="text" class="form-control mb-2" placeholder="Enter your phone number">
                <textarea class="form-control no-resize" placeholder="Enter your Address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Place Order</button>
            </form>
        </div>
    </div>
</div>