.banner {
    background-image: url('/banner.jpg');
    height: 600px;
    background-position: center top;
    background-size: cover;
}
.content {
    top: 30%;
    left: 10%;
    position: absolute;
}
.content h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.content a {
    text-decoration: none;
    background-color: #fff;
    color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 5px;
}
.content a:hover {
    background-color: var(--primary-color);
    color: #fff;
}
.stepBox {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}
.stepBox h1 {
    font-size: 50px;
    font-weight: bold;
    color: var(--primary-color);
}
.stepBox p {
    font-size: 20px;
    font-style: italic;
    color: white;
}
.highlight {
    color: var(--primary-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}
.foodbox {
    padding: 10px 5px;
}
.foodbox img {
    width: 100%;
    object-fit: cover;
}
.foodbox h1 {
    font-size: 18px;
    margin-top: 20px;
    font-weight: bold;
}
.view-more-btn {
    text-decoration: none;
    background-color: var(--primary-color);
    color: #000;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}